<!DOCTYPE html>
<html lang="en" ng-app="myApp">
    <head>
        <meta charset="utf-8" />
        <title>Gimnasio La Montaña</title>
        <link href="~/favicon.ico" rel="shortcut icon" type="image/x-icon" />
        <meta name="viewport" content="width=device-width" />
        @Styles.Render("~/Content/css")
        @Scripts.Render("~/bundles/modernizr")
    </head>
    <body>
        <header>
            <h1><img src="~/Images/Home/GLM-logo.png" width="123" height="75" alt="Gimnasio La Montaña">Gimnasio La Montaña</h1>
            <div>
            @if (Request.IsAuthenticated) {
                <text>
                <nav>
                    <ul>
                        <li>
                            <a href="#">
                                <span class="menu-icon">
                                    <img src="~/Images/Home/books.png" alt="Clases" width="32" height="32">
                                </span>
                                <span class="menu-item">Clases
                                    <span class="menu-description">Planeación, informes, etc.</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-icon">
                                    <img src="~/Images/Home/profile.png" alt="Clases" width="32" height="32">
                                </span>
                                <span class="menu-item">Estudiantes
                                    <span class="menu-description">Observador, listas, etc.</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-icon">
                                    <img src="~/Images/Home/user.png" alt="Clases" width="32" height="32">
                                </span>
                                <span class="menu-item">Empleados
                                    <span class="menu-description">Certificados, datos, etc.</span>
                                </span>
                            </a>
                        </li>
                        <li>
                            <a href="#">
                                <span class="menu-icon">
                                    <img src="~/Images/Home/signup.png" alt="Clases" width="32" height="32">
                                </span>
                                <span class="menu-item">Gestión de Calidad
                                    <span class="menu-description">Buzón, documentación, etc.</span>
                                </span>
                            </a>
                        </li>
                        @*<li>
                            <a href="#">
                                <span class="menu-icon">
                                    <img src="~/Images/Home/file.png" alt="Clases" width="32" height="32">
                                </span>
                                <span class="menu-item">Informes
                                    <span class="menu-description">Académicos, boletines, etc.</span>
                                </span>
                            </a>
                        </li>*@
                    </ul>
                </nav>
                </text>
            } else {
            
            }
            </div>
        </header>
        <div id="body">
            @RenderSection("featured", required: false)
            <section class="content-wrapper main-content clear-fix">
                @RenderBody()
            </section>
        </div>
        @*<footer>
            <div class="content-wrapper">
                <div class="float-left">
                    <p>&copy; @DateTime.Now.Year - Gimnasio La Montaña</p>
                </div>
            </div>
        </footer>*@
        @Scripts.Render("~/bundles/jquery")
        @Scripts.Render("~/bundles/angular")
        @Scripts.Render("~/bundles/angularproj")
        @RenderSection("scripts", required: false)
    </body>
</html>
